<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin">

    <title>Microsoft Copilot: Your AI companion</title>
    <meta name="description" content="Microsoft Copilot is your companion to inform, entertain and inspire. Get advice, feedback and straightforward answers. Try Copilot now.">
    <link rel="canonical" href="https://copilot.microsoft.com">
    <meta name="apple-itunes-app" content="app-id=6472538445">
    <meta property="og:title" content="Microsoft Copilot: Your AI companion">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Microsoft Copilot: Your AI companion">
    <meta property="og:description" content="Microsoft Copilot is your companion to inform, entertain and inspire. Get advice, feedback and straightforward answers. Try Copilot now.">
    <meta property="og:url" content="https://copilot.microsoft.com">
    <meta property="og:image" content="https://copilot.microsoft.com/static/cmc/images/meta-image.jpg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta httpEquiv="Permissions-Policy" content="element-timing=*">
    
    <meta name="x-client-data" content="">

    <link href="/static/cmc/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/static/cmc/favicon.svg" rel="icon" type="image/svg+xml">

    <script nonce="zCKAxbzE1RbgvtqEkUi7+A==">
      window.appStart = performance.now();
      performance.mark("startupTime-begin", { startTime: window.appStart });
      window.isStudioServer = true;
    </script>

    

    <link rel="preload" href="/static/cmc/fonts/Ginto-Copilot-Upright-Variable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preconnect" href="https://login.microsoftonline.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://login.live.com" crossorigin="anonymous">
    <script nonce="zCKAxbzE1RbgvtqEkUi7+A==" type="module" src="/static/cmc/assets/index-BcFak-jq.js"></script>
    <link rel="modulepreload" href="/static/cmc/assets/vendor-CoSgZh7J.js">
    <link rel="stylesheet" href="/static/cmc/assets/index-D04FBCdx.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>